* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.page {
   
}

.team-bar {
    height: 42px;
}

.menu-bar {
    background-color: #0D0B39;
    height: 66px;
}

.news-bar {
    height: 50px;
}

.side-updates {
    width: 348px;
    height: 614px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    background-color: coral;
    margin: 20px 25px 9px 20px;
}

.live {
    background-color: #0D0B39;
    height: 375px;
}

.live-match {
    float:left;
    width:594px;
    height:334.5px;
    background-color: pink;
    margin: 20px 0 20px 0;
}

.live-match-score {
    float: right;
     height:335px;
    background-color: #0D0B39;
}

.previous-match {
    height: 268px;
    background-color: antiquewhite;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .live-match, .previous-match  {
        width: 50%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1440px) {
    .page {
        width: 100%;
        margin: 0 auto;
    }
    .live-match, .previous-match {
        width: 33.3%;
    }
}